body {
    background-color: lightblue;
    height: 100%;
}


/*
@keyframes colorshift {
    from {background-color: crimson;}
    to {background-color: skyblue;}
}
*/

#Tittel {
    display: flex;
    justify-content: center;
    animation-name: colorshift;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

div {
    height: 100%;
    position: relative;
}

#bilder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    
}